

$sizes: (
  custom: 980px
);



$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800,
    "rgb_full_white": #ffffff,
    "rgb_light_white": rgba(123, 136, 255, 0.8),
    "com_main": #7b88ff,
    "com_primary": #fdcb61,
    "com_minor": #fff3b1,
    "rgb_xlight_white": rgba(255, 255, 255, 0.4)
  ),
  $colors
);

$color_com_main: #7b88ff;
$color_com_primary: #fdcb61;
$color_com_minor: #fff3b1;

$ease: (
  cubic_ease: cubic-bezier(.25, .1, .25, 1),
  cubic_linear: cubic-bezier(0, 0, 1, 1),
  cubic_in: cubic-bezier(.42, 0, 1, 1),
  cubic_out: cubic-bezier(0, 0, .58, 1),
  cubic_in_out: cubic-bezier(.42,0,.58,1)
);

$typo: (
  h1_: 72px,
  h2_: 48px,
  h3_: 32pxpx,
  h4_: 14px,
  p_: 14px,
  btn_: 14,
  s_: 12px,
  q_: 12px
);

$ls: (
  m: 0.29em,
  s: 0.145em,
  xs: 0.0725em
);


